@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var petStores = ViewBag.PetStores as List<PetStoreLibrary.DTOs.PetStoreDTO>;
}

@if (petStores != null)
{
    <table class="table pet-table">
        <tbody>
            @for (int i = 0; i < petStores.Count; i += 3)
            {
                <tr>
                    @for (int j = i; j < i + 3; j++)
                    {
                        if (j < petStores.Count)
                        {
                            <td>
                                <img src="@Url.Content("~/" + petStores[j].ImageUrl)" alt="Pet Image" class="pet-image"/><br />
                                <strong>Pet Name:</strong> @petStores[j].PetName<br />
                                <strong>Category:</strong> @petStores[j].CategoryName<br />
                                <strong>Gender:</strong> @petStores[j].Gender<br />
                                <strong>Description:</strong> @petStores[j].PetDescription<br />
                                <strong>Price:</strong> @petStores[j].Price<br />
                                <strong>Birth Day:</strong> @petStores[j].BirthDay.ToShortDateString()<br />
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}